.header{
    
    background: url(../images/fondo.jpg) no-repeat center;
    background-size: cover;
    min-height: 400px   ;
    background-color: black;
  
}
.header .navbar {
background-color: transparent !important;}

footer{
    text-align: center;
    height: 30%;
    background:black ;
    color: beige;
}

.formulario{

    width:100%;
    min-height: auto ;
}
.form{
    background: url(../images/james.png) no-repeat center;
    background-size: cover;
}