.header{
    
    background: url(../images/disc.jpg) no-repeat center;
    background-size: cover;
    min-height: 400px   ;
    background-color: black;
  
}
.header .navbar {
background-color: transparent !important;}

footer{
    text-align: center;
    height: 30%;
    background:black ;
    color: beige;
}

#card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}